services:
  postgres:
    image: postgres:latest
    container_name: postgres_db
    ports: 
      - "5432:5432"
    env_file:
      - .env

  redis:
    image: redis:alpine
    container_name: redis_db
    ports:
      - "6379:6379"
    env_file:
      - .env